@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply px-[5vw];
}
@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}
